#headerContainer{

    background-color: #dee7df;

    border-radius: 15px;

    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);

    margin-left: 2ch;
    margin-right: 2ch;
    margin-top: 2ch;
    padding: 10px;

}

#header {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    width: inherit;

    padding: 15px;

    background-color: #dee7df;

    border-radius: 15px;

    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

#header a {
    color: #3d473d;

    font-size: x-large;
    font-family: 'Gill Sans', sans-serif;

    transition: color 0.3s ease;

    text-decoration: none;
}

#header a:hover {
    color: #768976;

    font-size: x-large;
    font-family: 'Gill Sans', sans-serif;

    transition: color 0.3s ease;
}

#searchDiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    padding: 6px;

    width: 100%;

    margin: 5px;

    background-color: white;

    border-radius: 15px;
}

#search{
    border: none;
    border-radius: 10px;
    
    width: 100%;
}

#search:focus{
    outline: none;
}

#searchButton{
    border: none;
    border-radius: 15px;

    margin-left: 5px;

    background-color: #768276;
    transition: color 0.3s ease;

    color: white;

    padding: 5px;

    cursor: pointer;
}

#searchButton:hover{
    background-color: #768976;
    transition: color 0.3s ease;
}

#accountDiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#accountDiv button{
    border-radius: 15px;

    background-color: #768276;

    margin: 8px;

    color: white;
    cursor: pointer;

    padding: 7px;

    transition: background-color 0.3s ease;
}

#accountDiv button:hover{
    background-color: #768976;
    transition: color 0.3s ease;
}