html

    head
        title Home
    
    link(rel='stylesheet', href='/styles/home.css')
        
    body
        include ../partials/header

        include ../partials/artworks

        include ../partials/footer